.App {
  text-align: left;
  font: Helvetica, sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  pointer-events: none;
}

.Toolbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 80px;
  background-color: #c40000;
}

.Button {
  height: 40px;
  padding: 10px;
  margin: 10px;
  align-items: flex-start;
}

.CTA {
  height: 60px;
  padding: 5px;
  margin: 5px;
  align-items: flex-end;
}

.img-left {
  height: 400px;
  width: 50%;
  background-color: #0003c4
}

.img-right {
  height: 400px;
  width: 50%;
  background-color: #00c469
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
