.App {
  text-align: left;
  font: Helvetica, sans-serif;
}

.Toolbar {
  display: flex;
  align-items: center;
  height: 80px;
  background-color: #ffffff;
}

.App-logo {
  animation: App-logo-spin infinite 17s linear;
  height: 80px;
  pointer-events: none;
}

.Button {
  height: 40px;
}

.CTA {
  height: 60px;
  width: 160px;
}

.parentContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 40px;
}

.containerLabel {
  opacity: 0.8;
  background-color: #000000;
  color: #ffffff;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.containerLabel p {
  opacity: 1.0;
  padding-left: 10px;
  font-size: 14pt;
}

.containerRight {
  width: 40%;
  margin-left: 30px;
  display: flex;
  align-content: center;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.containerLeft {
  width: 40%;
  margin-left: 30px;
  display: flex;
  text-align: center;
  align-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img-left {
  height: 400px;
  width: 100%;
  background-image: url("https://images.unsplash.com/photo-1540908187087-eeabb5040af5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
  background-size: 150%;
  display: flex;
  align-items: flex-end;
}

.img-right {
  height: 400px;
  width: 100%;
  background-image: url("https://images.unsplash.com/photo-1505170988624-4abfd7fa954b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1355&q=80");
  background-size: 150%;
  display: flex;
  align-items: flex-end;
}

.lefttext {
  text-align: center;
  margin-top: 180px;
  color: white;
}

.righttext {
  text-align: center;
  margin-top: 180px;
  color: white;
}

.Body {
  display: flex;
  margin-top: 40px;
  margin-bottom: 40px;
}

.body-content {
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.text-section {
  width: 40%;
  margin-left: 30px;
  text-align: left;
  background-color: #666666;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

