.App {
  text-align: left;
  font: Helvetica, sans-serif;
}

.Toolbar {
  display: flex;
  align-items: center;
  height: 80px;
  background-color: #c40000;
}

.App-logo {
  animation: App-logo-spin infinite 17s linear;
  height: 80px;
  pointer-events: none;
}

.Button {
  height: 40px;
}

.CTA {
  height: 60px;
  width: 160px;
}

.img-left {
  height: 400px;
  width: 50%;
  background-color: #0003c4
}

.img-right {
  height: 400px;
  width: 50%;
  background-color: #00c469
}

.lefttext {
  position: absolute;
  top: 33%;
  left: 10%;
}

.righttext {
  position: absolute;
  top: 33%;
  right: 10%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
